# Frontend
VITE_PRIVY_APP_ID=
VITE_API_BASE_URL=

# Backend
DATABASE_URL=
PRIVY_APP_ID=
PRIVY_APP_SECRET=
PRIVY_VERIFICATION_KEY=
BLOB_READ_WRITE_TOKEN=
API_KEY_PEPPER=
CRON_SECRET=
STARTING_BALANCE_CENTS=10000
